<div class="container">
  <div class="row">
  
    <div class="col-3">
      <a class="btn btn-primary btn-lg" href="http://localhost:3000/users"  >
        <h1 class="font-bold text-4xl">Users</h1>
      </a>
    </div>

    <div class="col-4">
      <a class="btn btn-success btn-lg" href="http://localhost:3000/projects"  >
        <h1 class="font-bold text-4xl">Projects</h1>
      </a>
    </div>

    <div class="col-5">
      <a class="btn btn-warning btn-lg" href="http://localhost:3000/apikeys"  >
        <h1 class="font-bold text-4xl">API Keys</h1>
      </a>
    </div>

  </div>
</div>
